<h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit commodi dolorem cupiditate necessitatibus eum nostrum totam perspiciatis corrupti accusamus, optio numquam, soluta magnam, dolore voluptatem. Doloribus repellat minus, quibusdam quis.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit commodi dolorem cupiditate necessitatibus eum nostrum totam perspiciatis corrupti accusamus, optio numquam, soluta magnam, dolore voluptatem. Doloribus repellat minus, quibusdam quis.
</p>

 <p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit commodi dolorem cupiditate necessitatibus eum nostrum totam perspiciatis corrupti accusamus, optio numquam, soluta magnam, dolore voluptatem. Doloribus repellat minus, quibusdam quis.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit commodi dolorem cupiditate necessitatibus eum nostrum totam perspiciatis corrupti accusamus, optio numquam, soluta magnam, dolore voluptatem. Doloribus repellat minus, quibusdam quis.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit commodi dolorem cupiditate necessitatibus eum nostrum totam perspiciatis corrupti accusamus, optio numquam, soluta magnam, dolore voluptatem. Doloribus repellat minus, quibusdam quis.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit commodi dolorem cupiditate necessitatibus eum nostrum totam perspiciatis corrupti accusamus, optio numquam, soluta magnam, dolore voluptatem. Doloribus repellat minus, quibusdam quis.
</p>

<h2>
  <%= pluralize @restaurant.reviews.size, "review" %>
</h2>

<div id="reviews">
  <% if @restaurant.reviews.blank? %>
    Be the first to leave a review for <%= @restaurant.name %>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>

<%= render 'reviews/form', restaurant: @restaurant, review: @review %>


